doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include ./styles
    
    title Blarney | Fawn away

  body.bg-dark-grey
    #banner
    main.main.bs-masthead#content(role="main")

    #aux
    #footer

  include ./scripts