include ./templates/mixins/src.jade
!!!5
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    +css("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
    +css("/css/main.css")
    +css("/css/style.css")
    title Blarney | Fawn away

  body.bg-dark-grey
    #banner
    main.main.bs-masthead#content(role="main")

    #aux
    #footer

  include ./scripts