include ./templates/mixins/src.jade

+js("http://code.jquery.com/jquery-2.0.3.min.js")
+js("http://underscorejs.org/underscore-min.js")
+js("http://backbonejs.org/backbone-min.js")
+js("//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
//+js("//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/javascript/semantic.min.js")
+js("/js/style.js")
+js("/js/vendor/marionette.min.js")
+js("/js/vendor/moment.js")
+js("/js/vendor/livestamp.js")
+js("/js/vendor/modalify.js")
+js("/js/vendor/prettify/src/prettify.js")
+js("/js/vendor/require.js")
+js("/js/loggedIn.js")
script.
  require({
    baseUrl: ".",
    packages: [
      { name: "templates", location: "/templates"},
      { name: "app", location: "/js" },
      { name: "views", location: "/js/views" },
      { name: "models", location: "/js/models"},
      { name: "collections", location: "/js/collections"},
      { name: "vendor", location: "/js/vendor" },
      { name: "utils", location: "/js/utils"}
    ]
  },[
   'app/main'
  ]);
