include ./templates/mixins/src.jade

//+css("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
//+css("/css/vendor/bootstrap.css")
//+css("//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css")
+css("/css/main.css")
+css("/css/vendor/prettify/sunburst.css")
+css("/css/vendor/modalify.css")
+css("/css/style.css")
