.btn, .btn-lg
  padding 5px
  background #efefef
.btn-elg
  font-size 2em
  width 250px
  height 60px
  padding 10px

.btn-success
  color #fff
  background-color green-light
  border-color #4cae4c
  &:hover
    background-color green-med
  a
    color #fff

.btn-successhover,.btn-successfocus,.btn-successactive,.btn-success.active,.open .dropdown-toggle.btn-success
  color #fff
  background-color green-med
  border-color #398439

.btn-primary
  background #2B5998
  color #fff
  &:hover
    background #1B5998