.btn, .btn-lg
  border-radius 0 !important
.btn-elg
  font-size 2em
  width 250px
  height 60px !important
  padding 10px !important

.btn-success
  color #fff
  background-color green-light !important
  border-color #4cae4c
  &:hover
    background-color green-med !important
  a
    color #fff !important

.btn-successhover,.btn-successfocus,.btn-successactive,.btn-success.active,.open .dropdown-toggle.btn-success
  color #fff
  background-color green-med !important
  border-color #398439

button:focus
  outline none
textarea, input
  background #fff

