
.main-box
  min-height 700px
  margin-right 1%

.main-box-cards
  position relative
  width 350px
  height 150px
  margin 1% 1% 2% 1%
  display inline-block
  font-size 2em
  overflow hidden
  .title
    position absolute
    top 20px
    left 18px
    max-width 300px
    max-height 85px
    overflow hidden
  .user
    position absolute
    bottom 20px
    left 18px
    width 200px
    height 30px
  .icon
    width 30px
    height 30px
    overflow hidden
  .name
    position absolute
    left 35px
    top 10px
    font-size .5em
  .stats
    position absolute
    right 20px
    bottom 10px
    width 30px
    height 30px
  .likes
    position absolute
    top 7px
    width 30px
    font-size 1em