

// Media size style
@media all and (min-width: 1100px)
  .comments
    margin-left 10%

@media all and (max-width: 1100px)
  .new
    .title
      width 95%
      margin 1%
      font-size 40px
    .message
      width 95%
      height 500px
      margin 1%
      max-width 95%
    .preview, .editor
      width 100%
      min-height 500px
      display inline-block
      vertical-align top
    .preview
      padding 1%
    .post
      margin 1%


@media all and (max-width: 845px)

  .box-center
    max-width 98%
    width 98%
    margin-left 1%
  
  .spacer
    height 75px
  
  .main-box-cards
    width 80%
    height 150px
  
  .edit-box
    display none
    left 30%
    width 40%
  

  .search
    margin 30px
    width 70%
  



@media all and (max-width: 765px)


  .post-author
    position absolute
    top 0
    right 0
    width 100%
    height 73px
    .name
      width 20%

    .bio
      display block
      width 60%
      height 60px
      font-size .7em
      overflow hidden
  .post-title
    max-width 90%
    margin-top 100px
    margin-left 5%
  
  .post-content
    max-width 95%
    padding-left 5%

  .comments-box
    .message
      font-size 1.5em
      width 90%

  .new-comment
    width 100%



@media all and (max-width: 690px)

  .profile-background
    .img
      margin-left -25%
      display inline-block
      min-height 100%
      max-height 100%
      width 1200px
      position fixed
      top 0
      left 0
    .edit
      position absolute
      top 40px
      left 50px

  .post-author
    .name
      width 80%
      padding-top 10px
    .bio
      display none


  footer
    ul
      li
        width 97%


@media all and (max-width: 500px)

  .navbar
    .right
      li
      .user
        .user-nav
          display none
          position absolute
          left 0
          width 90%
          min-height 50px
          background #efefef
          text-align center
          li
            width 100px
            display inline-block
            float none
            padding 10px
            background #efefef
            height 50px
            font-size 18px
            &:hover
              background #fafafa
            a
              text-decoration none





  .search
    margin 30px
    width 90%
    margin-left 5%


  .main-box
    margin 0
  
  .main-box-cards
    width 98%
    height 150px
    margin 2% 1% 0 1%
   

  .post-author 
    .bio
      display none
    .name
      width 60%


  .comments-box
    width 100%
  
  .comments-box .user
    width 90%
  
  .comments-box textarea
    width 100%
    height 100px
  

  .profile .user
    position relative
    max-width 450px
    height 100px
    margin 50px 2% 0 2%
  
  .profile .bio-left
    width 100%
  
  .profile .bio-right
    width 100%
  
  .profile .bio-left, .profile .bio-right
    height 50%
    text-align center
  
  .edit-box
    display none
    left 10%
    width 80%
  

  //New 
