.navbar
  position relative
  width 100%
  min-height 75px
  font-size 1.3em
  background #fafafa
  z-index 9
  .logo
    margin-left 20px
    font-size 1.2em
  .left
    position absolute
  .right
    position relative
    float right
    width 90%
    height 75px
    display block
    padding 12px 12px 0 12px
    li
      list-style none
      display block
      float right
      width 100px
    .user
      img
        width 50px
      .user-nav
        display none
        li
          text-align center
          width 90px
          float left
          padding 5px
          background #efefef
          height 32px
          font-size 18px
          &:hover
            background #fafafa
          a
            text-decoration none
    .new
      margin-top 14px !important
      a
        color #fff !important
        padding 12px
        background green-light
        &:hover
          text-decoration none
          background green-med


