.new
  .title
    width 95%
    margin 1%
    font-size 40px
  .message
    width 95%
    height 500px
    margin 1%
    max-width 95%
  .preview, .editor
    width 49%
    min-height 500px
    display inline-block
    vertical-align top
  .preview
    padding 1%
  .post
    margin 1%
