@import url(http\://fonts.googleapis.com/css?family=Open\+Sans\:300)
body
  font-size 1.3em
  font-family 'Open Sans', sans-serif
  font-weight light


green-light = #659d32
green-med = #507d28

// Resets
a
  text-decoration none
  color green-light !important
  &:hover
    color green-med !important
    text-decoration underline

pre
  background-color #171717 !important  // reset for prettyprint

.date
  position absolute
  left 65%
  top 5px
  font-size .6em

.close-div
  position absolute
  right 5px
  top 5px
  height 30px
  width 30px
  font-size 2em
  cursor pointer
  &:hover
    background #cdcdcd

@import "includes/inputs"
@import "includes/nav"
@import "includes/classes"
@import "includes/main-box"
@import "includes/post"
@import "includes/comments"   
@import "includes/edit-login-boxes"
@import "includes/profile"
@import "includes/new"
@import "includes/search"
@import "includes/footer"
// These must be last:
@import "includes/mobile"
@import "includes/webkit-extras"