@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
body {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}
a {
  text-decoration: none;
  color: #659d32 !important;
}
a:hover {
  color: #507d28 !important;
  text-decoration: underline;
}
pre {
  background-color: #171717 !important;
}
.date {
  position: absolute;
  left: 65%;
  top: 5px;
  font-size: 0.6em;
}
.close-div {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  font-size: 2em;
  cursor: pointer;
}
.close-div:hover {
  background: #cdcdcd;
}
button:focus {
  outline: none;
}
textarea,
input {
  background: #fff;
}
.btn,
.btn-lg {
  padding: 5px;
  background: #efefef;
}
.btn-elg {
  font-size: 2em;
  width: 250px;
  height: 60px;
  padding: 10px;
}
.btn-success {
  color: #fff;
  background-color: #659d32;
  border-color: #4cae4c;
}
.btn-success:hover {
  background-color: #507d28;
}
.btn-success a {
  color: #fff;
}
.btn-successhover,
.btn-successfocus,
.btn-successactive,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #507d28;
  border-color: #398439;
}
.btn-primary {
  background: #2b5998;
  color: #fff;
}
.btn-primary:hover {
  background: #1b5998;
}
.navbar {
  position: relative;
  width: 100%;
  min-height: 75px;
  font-size: 1.3em;
  background: #fafafa;
  z-index: 9;
}
.navbar .logo {
  margin-left: 20px;
  font-size: 1.2em;
}
.navbar .left {
  position: absolute;
}
.navbar .right {
  position: relative;
  float: right;
  width: 90%;
  height: 75px;
  display: block;
  padding: 12px 12px 0 12px;
}
.navbar .right li {
  list-style: none;
  display: block;
  float: right;
  width: 100px;
}
.navbar .right .user img {
  width: 50px;
}
.navbar .right .user .user-nav {
  display: none;
}
.navbar .right .user .user-nav li {
  text-align: center;
  width: 90px;
  float: left;
  padding: 5px;
  background: #fafafa;
  height: 32px;
  font-size: 18px;
}
.navbar .right .user .user-nav li:hover {
  background: #fff;
}
.navbar .right .user .user-nav li a {
  text-decoration: none;
}
.navbar .right .new {
  margin-top: 14px !important;
}
.navbar .right .new a {
  color: #fff !important;
  padding: 12px;
  background: #659d32;
}
.navbar .right .new a:hover {
  text-decoration: none;
  background: #507d28;
}
.error {
  border: 1px solid #c0392b;
}
.position-relative {
  position: relative;
}
.inline-block {
  display: inline-block;
}
.box-center {
  max-width: 1600px;
  width: 90%;
  margin-left: 0;
  display: inline-block;
}
.box-shadow {
  box-shadow: 0 0 5px rgba(50,50,50,0.9);
}
.box-shadow-light {
  box-shadow: 0 0 3px #dfdfdf;
}
.box-shadow-thin {
  box-shadow: 0 0 1px #bebebe;
}
.box-shadow-thin-dark {
  box-shadow: 0 0 5px #000;
}
.bg-white-trans {
  background: rgba(200,200,200,0.5);
}
.bg-white-trans-light {
  background: rgba(250,250,250,0.7);
}
.bg-white-trans-med {
  background: rgba(245,245,245,0.7);
}
.z-index {
  z-index: 5;
}
.trans {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.block {
  display: block;
  float: left;
}
.main-box {
  min-height: 700px;
  margin-right: 1%;
}
.main-box-cards {
  position: relative;
  width: 350px;
  height: 150px;
  margin: 1% 1% 2% 1%;
  display: inline-block;
  font-size: 2em;
  overflow: hidden;
}
.main-box-cards .title {
  position: absolute;
  top: 20px;
  left: 18px;
  max-width: 300px;
  max-height: 85px;
  overflow: hidden;
}
.main-box-cards .user {
  position: absolute;
  bottom: 20px;
  left: 18px;
  width: 200px;
  height: 30px;
}
.main-box-cards .icon {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.main-box-cards .name {
  position: absolute;
  left: 35px;
  top: 10px;
  font-size: 0.5em;
}
.main-box-cards .stats {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 30px;
  height: 30px;
}
.main-box-cards .likes {
  position: absolute;
  top: 7px;
  width: 30px;
  font-size: 1em;
}
.post .date {
  font-size: 1em;
}
.post .title {
  margin: 1%;
  max-width: 78%;
  word-wrap: break-word;
}
.post .flag {
  float: left;
}
.post .stats {
  position: relative;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  padding: 10px;
}
.post .stats img {
  width: 50px;
  display: block;
  float: left;
}
.post .stats span {
  position: absolute;
  width: 50px;
  left: 8px;
  top: 24px;
  text-align: center;
}
.post .content {
  margin: 2% 0 0 1.5%;
  word-wrap: break-word;
  max-width: 75%;
}
.post .author {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  font-size: 1.3em;
}
.post .author .icon {
  margin: 20px 0 0 0;
  width: 50px;
  height: 50px;
}
.post .author .name {
  width: 100%;
  font-size: 1.3em;
}
.post .author .bio {
  margin: 10px;
  max-width: 90%;
}
.post .author .icon,
.post .author .name,
.post .author .bio {
  word-wrap: break-word;
  display: inline-block;
}
.comment {
  width: 90%;
  min-height: 100px;
  position: relative;
  display: block;
  float: left;
  clear: both;
  margin: 0 0 30px 0;
  font-size: 1.5em;
}
.comment .user {
  position: relative;
  top: 20px;
  left: 5%;
  min-width: 200px;
  width: 50%;
  display: block;
  float: left;
}
.comment .icon {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  overflow: hidden;
}
.comment .name {
  margin: 15px;
  display: block;
  float: left;
  word-wrap: break-word;
  max-height: 50px;
}
.comment .message {
  width: 70%;
  min-height: 80px;
  display: block;
  float: left;
  padding: 1%;
  margin: 40px 0 10px 5%;
}
.comment .rating {
  position: absolute;
  right: 10%;
  top: 30px;
  width: 50px;
  height: 50px;
}
.comment .rating img {
  width: 50px;
}
.comment .rating span {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 20px;
  font-size: 0.6em;
  text-align: center;
}
.comments {
  position: relative;
  width: 100%;
  min-height: 100px;
}
.comments textarea {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  font-family: 'Open Sans', sans-serif;
}
.new-comment {
  width: 80%;
  min-height: 200px;
  padding: 20px 5%;
  margin: 50px 0 0 0;
  display: block;
  float: left;
  font-size: 1.5em;
}
.new-comment textarea {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
}
.edit-box,
.login-box {
  display: none;
  position: absolute;
  top: 100px;
  left: 37%;
  min-width: 250px;
  width: 25%;
  height: 300px;
  overflow: hidden;
}
.edit-box .upload-box,
.login-box .upload-box {
  width: 80%;
  margin: 20% 10%;
}
.edit-box input[type='file'],
.login-box input[type='file'] {
  width: 100%;
  border: none;
}
.edit-box input[type='submit'],
.login-box input[type='submit'] {
  margin: 8% 0 0 0;
  display: inline-block;
}
.edit-box .progress,
.login-box .progress {
  width: 80%;
  height: 30px;
  margin: 10% 10% 20% 10%;
}
.edit-box .bar,
.login-box .bar {
  height: 30px;
  width: 0%;
}
.edit-box .img-preview,
.login-box .img-preview {
  width: 80%;
  height: 90%;
  margin: 2.5% 0 0 10%;
  text-align: center;
}
.edit-box .img,
.login-box .img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.edit-box .next-back,
.login-box .next-back {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.edit-box button,
.login-box button {
  margin: 10px;
}
.login-box {
  display: block;
  text-align: center;
}
.login-box .twitter {
  min-width: 150px;
  max-width: 50%;
  height: 40px;
  padding: 10px;
  display: inline-block;
  box-shadow: 0 0 1px #cdcdcd;
}
.profile {
  font-size: 1.5em;
  word-wrap: break-word;
}
.profile .user {
  position: relative;
  max-width: 750px;
  max-height: 400px;
  margin: 50px 0 0 5%;
}
.profile .user .icon img {
  width: 100px;
  height: 100px;
}
.profile .user .name {
  position: absolute;
  top: 18px;
  left: 105px;
  overflow: hidden;
}
.profile .bio {
  position: relative;
  width: 90%;
  height: 375px;
  margin: 75px 0 0 5%;
}
.profile .bio .left {
  width: 60%;
}
.profile .bio .right {
  width: 40%;
}
.profile .bio .left,
.profile .bio .right {
  height: 100%;
  padding: 5%;
  display: block;
  float: left;
  overflow: hidden;
}
.profile-background {
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  z-index: 0;
  overflow: hidden;
  background: #555;
  text-align: center;
}
.profile-background .img {
  display: inline-block;
  min-height: 100%;
  max-height: 150%;
  min-width: 100%;
  max-width: 150%;
  position: fixed;
  top: 0;
  left: 0;
}
.profile-background .edit {
  position: absolute;
  top: 20px;
  left: 50px;
}
.edit .align-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
.new .title {
  width: 95%;
  margin: 1%;
  font-size: 40px;
}
.new .message {
  width: 95%;
  height: 500px;
  margin: 1%;
  max-width: 95%;
}
.new .preview,
.new .editor {
  width: 49%;
  min-height: 500px;
  display: inline-block;
  vertical-align: top;
}
.new .preview {
  padding: 1%;
}
.new .post {
  margin: 1%;
}
.search {
  margin: 30px;
  width: 30%;
}
.search input {
  width: 80%;
  height: 50px;
  color: #000;
}
.search button {
  width: 19%;
  height: 50px;
  margin-left: 1%;
}
.search img {
  height: 100%;
}
footer {
  position: relative;
  min-height: 150px;
  width: 100%;
  padding: 20px 0 20px 0;
}
footer ul {
  text-align: center;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
  width: 30%;
  margin: 1%;
  padding: 20px;
}
@media all and (min-width: 1100px) {
  .comments {
    margin-left: 10%;
  }
}
@media all and (max-width: 1100px) {
  .new .title {
    width: 95%;
    margin: 1%;
    font-size: 40px;
  }
  .new .message {
    width: 95%;
    height: 500px;
    margin: 1%;
    max-width: 95%;
  }
  .new .preview,
  .new .editor {
    width: 100%;
    min-height: 500px;
    display: inline-block;
    vertical-align: top;
  }
  .new .preview {
    padding: 1%;
  }
  .new .post {
    margin: 1%;
  }
}
@media all and (max-width: 845px) {
  .box-center {
    max-width: 98%;
    width: 98%;
    margin-left: 1%;
  }
  .spacer {
    height: 75px;
  }
  .main-box-cards {
    width: 80%;
    height: 150px;
  }
  .edit-box {
    display: none;
    left: 30%;
    width: 40%;
  }
  .search {
    margin: 30px;
    width: 70%;
  }
}
@media all and (max-width: 765px) {
  .post-author {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 73px;
  }
  .post-author .name {
    width: 20%;
  }
  .post-author .bio {
    display: block;
    width: 60%;
    height: 60px;
    font-size: 0.7em;
    overflow: hidden;
  }
  .post-title {
    max-width: 90%;
    margin-top: 100px;
    margin-left: 5%;
  }
  .post-content {
    max-width: 95%;
    padding-left: 5%;
  }
  .comments-box .message {
    font-size: 1.5em;
    width: 90%;
  }
  .new-comment {
    width: 100%;
  }
}
@media all and (max-width: 690px) {
  .profile-background .img {
    margin-left: -25%;
    display: inline-block;
    min-height: 100%;
    max-height: 100%;
    width: 1200px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .profile-background .edit {
    position: absolute;
    top: 40px;
    left: 50px;
  }
  .post-author .name {
    width: 80%;
    padding-top: 10px;
  }
  .post-author .bio {
    display: none;
  }
  footer ul li {
    width: 97%;
  }
}
@media all and (max-width: 500px) {
  .navbar .right li .user-nav,
  .navbar .right .user .user-nav {
    display: none;
    position: absolute;
    left: 0;
    width: 90%;
    min-height: 50px;
    background: #efefef;
    text-align: center;
  }
  .navbar .right li .user-nav li,
  .navbar .right .user .user-nav li {
    width: 100px;
    display: inline-block;
    float: none;
    padding: 10px;
    background: #efefef;
    height: 50px;
    font-size: 18px;
  }
  .navbar .right li .user-nav li:hover,
  .navbar .right .user .user-nav li:hover {
    background: #fafafa;
  }
  .navbar .right li .user-nav li a,
  .navbar .right .user .user-nav li a {
    text-decoration: none;
  }
  .search {
    margin: 30px;
    width: 90%;
    margin-left: 5%;
  }
  .main-box {
    margin: 0;
  }
  .main-box-cards {
    width: 98%;
    height: 150px;
    margin: 2% 1% 0 1%;
  }
  .post-author .bio {
    display: none;
  }
  .post-author .name {
    width: 60%;
  }
  .comments-box {
    width: 100%;
  }
  .comments-box .user {
    width: 90%;
  }
  .comments-box textarea {
    width: 100%;
    height: 100px;
  }
  .profile .user {
    position: relative;
    max-width: 450px;
    height: 100px;
    margin: 50px 2% 0 2%;
  }
  .profile .bio-left {
    width: 100%;
  }
  .profile .bio-right {
    width: 100%;
  }
  .profile .bio-left,
  .profile .bio-right {
    height: 50%;
    text-align: center;
  }
  .edit-box {
    display: none;
    left: 10%;
    width: 80%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track:hover {
  background: #dedede;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
::selection {
  background: #000;
  color: #fff;
}
