@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
body {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}
a {
  text-decoration: none;
  color: #659d32 !important;
}
a:hover {
  color: #507d28 !important;
  text-decoration: underline;
}
button:focus {
  outline: none;
}
.navbar {
  padding-top: 18px;
  min-height: 90px;
  font-size: 1.5em;
  border-radius: 0;
  margin: 0;
  background: #fafafa;
}
.btn,
.btn-lg {
  border-radius: 0 !important;
}
.btn-elg {
  font-size: 2em;
  height: 55px !important;
  padding: 10px !important;
}
.btn-success {
  color: #fff;
  background-color: #659d32 !important;
  border-color: #4cae4c;
}
.btn-success:hover {
  background-color: #507d28 !important;
}
.btn-success a {
  color: #fff !important;
}
.btn-successhover,
.btn-successfocus,
.btn-successactive,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #507d28 !important;
  border-color: #398439;
}
textarea,
input {
  background: #fff;
}
.trans {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.block {
  display: block;
  float: left;
}
.search {
  margin: 30px;
  width: 30%;
}
.search input {
  width: 80%;
  height: 50px;
}
.search button {
  width: 19%;
  height: 50px;
  margin-left: 1%;
}
nav .right-nav {
  position: relative;
  float: right;
}
nav .nav-user-pre {
  position: relative;
  right: 75px;
  background: #507d28;
}
nav .nav-user-pre a {
  color: #fff !important;
}
nav .nav-user {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 20px;
  width: 40px;
  height: 40px;
}
nav .nav-user img {
  height: 50px;
}
nav .nav-user ul {
  position: absolute;
  top: 60px;
  left: -110px;
}
nav .nav-user .navbar,
nav .nav-user * {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}
.position-relative {
  position: relative;
}
.inline-block {
  display: inline-block;
}
.box-center {
  max-width: 1600px;
  width: 90%;
  margin-left: 0;
  display: inline-block;
}
.box-shadow {
  box-shadow: 0 0 5px rgba(50,50,50,0.9);
}
.box-shadow-light {
  box-shadow: 0 0 3px #dfdfdf;
}
.box-shadow-thin {
  box-shadow: 0 0 1px #bebebe;
}
.box-shadow-thin-dark {
  box-shadow: 0 0 5px #000;
}
.bg-white-trans {
  background: rgba(200,200,200,0.5);
}
.bg-white-trans-light {
  background: rgba(250,250,250,0.7);
}
.z-index {
  z-index: 4;
}
.content {
  min-height: 700px;
  margin-right: 1%;
}
.content-cards {
  position: relative;
  width: 350px;
  height: 150px;
  margin: 1% 1% 2% 1%;
  display: inline-block;
  font-size: 2.4em;
}
.content-cards .title {
  position: absolute;
  top: 20px;
  left: 18px;
  max-width: 300px;
  max-height: 85px;
  overflow: hidden;
}
.content-cards .user {
  position: absolute;
  bottom: 20px;
  left: 18px;
  width: 200px;
  height: 30px;
}
.content-cards .icon {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.content-cards .name {
  position: absolute;
  left: 35px;
  top: 10px;
}
.content-cards .stats {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 30px;
  height: 30px;
}
.content-cards .likes {
  position: absolute;
  top: 7px;
  width: 30px;
  font-size: 1em;
}
.post-title {
  margin: 1%;
  max-width: 80%;
}
.post-stats {
  position: relative;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  padding: 10px;
  font-size: 1em;
}
.post-stats img {
  width: 50px;
  display: block;
  float: left;
}
.post-stats span {
  position: absolute;
  width: 50px;
  left: 8px;
  top: 24px;
  font-size: 1em;
  text-align: center;
}
.post-content {
  margin: 2% 0 0 1.5%;
  word-wrap: break-word;
  max-width: 75%;
}
.post-author {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  font-size: 1.3em;
}
.post-author .icon {
  position: relative;
  margin: 10px 0 0 10px;
  width: 50px;
  height: 50px;
}
.post-author .name {
  margin: 10px;
  min-width: 50px;
  max-width: 100%;
  font-size: 1.3em;
}
.post-author .bio {
  margin: 10px;
  max-width: 90%;
}
.post-author .icon,
.post-author .name,
.post-author .bio {
  word-wrap: break-word;
  display: block;
  float: left;
}
.comments-box {
  position: relative;
  width: 100%;
  min-height: 100px;
}
.comments-box .comment {
  width: 100%;
  min-height: 100px;
  position: relative;
  display: block;
  float: left;
  clear: both;
  margin: 0 0 50px 0;
}
.comments-box .user {
  position: relative;
  top: 20px;
  left: 5%;
  min-width: 200px;
  width: 50%;
  display: block;
  float: left;
}
.comments-box .icon {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  overflow: hidden;
}
.comments-box .name {
  margin: 10px;
  display: block;
  float: left;
  word-wrap: break-word;
  max-height: 50px;
}
.comments-box .message {
  width: 90%;
  min-height: 80px;
  display: block;
  float: left;
  padding: 1%;
  margin: 50px 0 10px 5%;
}
.comments-box .rating {
  position: absolute;
  right: 10%;
  top: 30px;
  width: 50px;
  height: 50px;
}
.comments-box .rating img {
  width: 50px;
}
.comments-box .rating span {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 20px;
  font-size: 0.6em;
  text-align: center;
}
.comments-box textarea {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  font-family: 'Open Sans', sans-serif;
}
.new-comment {
  width: 80%;
  min-height: 200px;
  padding: 20px 5%;
  margin: 50px 0 0 0;
  display: block;
  float: left;
}
.new-comment textarea {
  width: 100%;
  min-height: 200px;
}
.profile-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.profile-background .img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-height: 150%;
}
.profile-background .edit {
  position: absolute;
  top: 40px;
  left: 50px;
}
.edit-box,
.login-box {
  display: none;
  position: absolute;
  top: 100px;
  left: 37%;
  min-width: 250px;
  width: 25%;
  height: 300px;
  overflow: hidden;
}
.edit-box .upload-box,
.login-box .upload-box {
  width: 80%;
  margin: 20% 10%;
}
.edit-box input[type='file'],
.login-box input[type='file'] {
  width: 100%;
  border: none;
}
.edit-box input[type='submit'],
.login-box input[type='submit'] {
  margin: 8% 0 0 0;
  display: inline-block;
}
.edit-box .progress,
.login-box .progress {
  width: 80%;
  height: 30px;
  margin: 10% 10% 20% 10%;
}
.edit-box .bar,
.login-box .bar {
  height: 30px;
  width: 0%;
}
.edit-box .img-preview,
.login-box .img-preview {
  width: 80%;
  height: 90%;
  margin: 2.5% 0 0 10%;
  text-align: center;
}
.edit-box .img,
.login-box .img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.edit-box .next-back,
.login-box .next-back {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.edit-box button,
.login-box button {
  margin: 10px;
}
.login-box {
  display: block;
  text-align: center;
}
.login-box .twitter {
  min-width: 150px;
  max-width: 50%;
  height: 40px;
  padding: 10px;
  display: inline-block;
  box-shadow: 0 0 1px #cdcdcd;
}
.close-div {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  font-size: 2em;
  cursor: pointer;
}
.close-div:hover {
  background: #cdcdcd;
}
.edit .align-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile {
  font-size: 1.5em;
  word-wrap: break-word;
}
.profile .user {
  position: relative;
  max-width: 750px;
  max-height: 400px;
  margin: 50px 0 0 5%;
}
.profile .user .icon img {
  width: 100px;
  height: 100px;
}
.profile .user .name {
  position: absolute;
  top: 18px;
  left: 105px;
  overflow: hidden;
}
.profile .bio {
  position: relative;
  width: 90%;
  height: 375px;
  margin: 75px 0 0 5%;
}
.profile .bio-left {
  width: 60%;
}
.profile .bio-right {
  width: 40%;
}
.profile .bio-left,
.profile .bio-right {
  height: 100%;
  padding: 5%;
  display: block;
  float: left;
  overflow: hidden;
}
.profile-content {
  min-height: 0px;
}
.new .title {
  max-width: 500px;
  width: 30%;
  min-width: 100px;
  height: 50px;
  margin: 1%;
}
.new .message {
  width: 80%;
  height: 500px;
  margin: 1%;
}
.new .sidebar {
  position: absolute;
  top: 4%;
  right: 2%;
  width: 15%;
  height: 570px;
  padding: 20px;
  font-size: 1.3em;
}
.new .post {
  margin: 1%;
}
@media all and (min-width: 1100px) {
  .comments {
    margin-left: 10%;
  }
}
@media all and (max-width: 845px) {
  .box-center {
    max-width: 98%;
    width: 98%;
    margin-left: 1%;
  }
  .spacer {
    height: 75px;
  }
  .content-cards {
    width: 80%;
    height: 150px;
  }
  .edit-box {
    display: none;
    left: 30%;
    width: 40%;
  }
  .search {
    margin: 30px;
    width: 70%;
  }
}
@media all and (max-width: 765px) {
  .nav {
    text-align: center;
  }
  .navbar-collapse {
    position: relative;
    margin-top: 18px;
    min-height: 90px;
    font-size: 1.6em;
  }
  .navbar-header button.navbar-toggle {
    box-shadow: none;
    border: none;
  }
  .navbar-header button.navbar-toggle:hover {
    background: #fff;
  }
  .navbar-header .icon-bar {
    background-color: #000 !important;
  }
  .navbar-header,
  .navbar-header button.navbar-toggle,
  .navbar-header.icon-bar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  nav .right-nav {
    position: relative;
    float: none;
  }
  nav .nav-user-pre {
    position: relative;
    right: 0;
    background: none;
  }
  nav .nav-user-pre a {
    color: #507d28 !important;
  }
  nav .nav-user {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
  }
  .post-author {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 73px;
  }
  .post-author .name {
    width: 20%;
  }
  .post-author .bio {
    display: block;
    float: right;
    width: 65%;
    height: 60px;
    overflow: hidden;
  }
  .post-title {
    margin-top: 100px;
    margin-left: 5%;
  }
  .post-content {
    max-width: 95%;
    padding-left: 5%;
  }
}
@media all and (max-width: 690px) {
  .post-author .name {
    width: 80%;
    padding-top: 10px;
  }
  .post-author .bio {
    display: none;
  }
}
@media all and (max-width: 500px) {
  nav {
    right: 0px;
  }
  .search {
    margin: 30px;
    width: 90%;
    margin-left: 5%;
  }
  .search button {
    width: 19%;
    height: 50px;
    margin-left: 1%;
    padding: 0;
  }
  .content {
    margin: 0;
  }
  .content-cards {
    width: 98%;
    height: 150px;
    margin: 2% 1% 0 1%;
  }
  .post-author .bio {
    display: none;
  }
  .post-author .name {
    width: 60%;
  }
  .comments-box {
    width: 100%;
  }
  .comments-box .user {
    width: 90%;
  }
  .comments-box textarea {
    width: 100%;
    height: 100px;
  }
  .profile .user {
    position: relative;
    max-width: 450px;
    height: 100px;
    margin: 50px 2% 0 2%;
  }
  .profile .bio-left {
    width: 100%;
  }
  .profile .bio-right {
    width: 100%;
  }
  .profile .bio-left,
  .profile .bio-right {
    height: 50%;
    text-align: center;
  }
  .edit-box {
    display: none;
    left: 10%;
    width: 80%;
  }
  .new .title {
    max-width: 500px;
    width: 98%;
    min-width: 100px;
    height: 50px;
    margin: 1%;
  }
  .new .message {
    width: 98%;
    height: 300px;
    margin: 1%;
  }
  .new .sidebar {
    position: absolute;
    top: 370px;
    right: 1%;
    width: 98%;
    height: 120px;
    padding: 2px;
    font-size: 1.5em;
  }
  .new .post {
    margin: 100px 0 0 20px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track:hover {
  background: #dedede;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
::selection {
  background: #000;
  color: #fff;
}
