nav.navbar.navbar-default
  .navbar-header
    a.navbar-brand.green(href="/") Blarney
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar .navbar-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .nav.sidebar
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href ="http://node.la/v1/items") API
      ul.nav.navbar-nav.right-nav
        if auth.loggedIn()
          li.nav-user-pre
            a(href="/new") New
          .nav-user
            a(href="/#{auth.handle()}")
              img(src="#{auth.image()}" alt="")
        else
          li
            a(href ="http://node.la/auth/twitter") Login with Twitter 
