.navbar
  .left
    a.logo.green(href="/") Blarney
  .right
    if auth && auth.loggedIn()
      li.user
        a
          img(src="#{auth.image()}")
        .user-nav
          ul
            li
              a(href="/#{auth.handle()}") Profile
            li
              a(href='/logout') Logout
            if auth.level() == "5"
              li
                a(href='/admin') Admin
      li.new
        a(href="/new") New
    else
      li.new
        a(href="/login") Login
