.login-box.bg-white-trans-light.z-index.box-shadow
  .close-div#close-div X
  .spacer-50
  a(href="auth/twitter")
    button.btn-success.btn-elg.twitter(type="submit") Twitter
  .spacer-50
  a(href="auth/facebook")
    button.btn-primary.btn-elg.twitter(type="submit") Facebook