.align-center
  .spacer
  .main-box.bg-white-shade.box-center.box-shadow
    .spacer-50
    a(href="auth/twitter")
      button.btn-success.btn-elg.twitter(type="submit") Twitter
    .spacer-50
    a(href="auth/facebook")
      button.btn-primary.btn-elg.twitter(type="submit") Facebook