if auth.loggedIn()
.spacer
.align-center
  .main-box.new.bg-white.box-center.box-shadow.align-left
    form
      input.title.box-shadow-thin#title(type='text' name='title' placeholder='Title')
      textarea.message.box-shadow-thin#message(name='content' placeholder='Message')
      br
      button.btn.btn-success.margin(type="submit") Post
    .sidebar.bg-grey.white
      h3 Tips
      li.text-small Do this for that
      li.text-small And this for that
