if auth && auth.loggedIn()
  .new-comment.bg-white-shade
    .spacer-50
      h2.grey Comment

    form
      textarea(name='content' id="content" placeholder="Message")
      .spacer-50
      button.btn.btn-success(type='submit') Comment
else
  .new-comment.bg-white-shade.align-center
    .spacer-50
    a(href='/login')
      button.bg-green.btn-lg.white.inline-block Login to comment