if auth.loggedIn()
  .new-comment.bg-white-shade
    .spacer-50
    form
      textarea(name='content' placeholder="Message")
      input(type='hidden' name='post' id='post' value='#{id}')
      br
      br
      button.btn.btn-success(type='submit') Comment
else
  .new-comment.bg-white-shade.align-center
    .spacer-50
    a(href='/login')
      button.bg-green.white.inline-block Login to comment