#edit-cover-box.modalify
  .closeModalifyX.closeModalify &times;
  #upload-box.upload-box.align-center
    form(action='/upload' name='form-cover' id='form-cover' method='post' enctype='multipart/form-data')
      input.bg-white-trans-light(type='file' accept="image/*" name='image' id='file')
      input.white.bg-green(type='submit' name='sub-cover' id='sub-cover' value='Save')  
      br
    #status
      | .jpg, .jpeg, .png only
    .spacer-50
  #progress.progress.bg-white-trans
    .bar.bg-dark-grey
    .percent
